html, body {
  margin: 0;
  padding: 0;
  padding: 2px;

  font_family: menlo;
}

body {
  width: 1200px;
}

#config_container {
  vertical_align: top;
  display: inline-block;
  margin-bottom: 0;
}

#config_table {
  vertical-align: top;
}

#genealogy_graph_container {
  display: inline-block;
  vertical-align: top;
}

#graph_container {
  display: inline-block;
  vertical-align: top;
}

#gpe_results_container {
  display: inline-block;
  vertical-align: top;
  align-items: center;
}

#gpe_results_selection_container {

}

#gpe_results_selection_container:hover #gpe_results_options_container {
  display: block;
}

#gpe_results_options_container {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: gray;
  color: white;
  padding: 5px;
  border: 2px dashed black;
}

#gpe_results_options_container > label {
  display: block;
}

.gpe_results_option_status {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 5px solid black;
}

.gpe_results_option_status.active {
  background-color: orange;
}

.gpe_results_option_button {
  display: block;

}

#gpe_results_graph_container {

}

.gpe_results_graph {
  margin-bottom: 10px;
}

h2 {
  text-align: center;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
}

th {
  background: black;
  color: white;
  border: none;
  border-left: 4px solid white;
  border-right: 4px solid white;
  padding: 5px;
  font-size: 10pt;
}

td {
  padding: 5px;
}

input {
  font-family: menlo;
  font-size: 10pt;
}

input[type="number"] {
  width: 40px;
}

#gpe_table_container {
  overflow-y: scroll;
  max-height: 500px;
}

#button_simulate_batch , #a_gpe_export {
  display: inline-block;;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid black;

  font-size: 10pt;
  font-family: menlo;
  text-decoration: none;
  text-align: center;
  color: white;
  background: black;
}

#status_simulate_batch {
  display: block;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  background: black;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 10pt;
  font-family: menlo;
}

#simulate_batch_status {
  display: inline-block;
  padding-bottom: 0px;
  padding-top: 0px;
  vertical-align: middle;
}

#simulate_batch_status_image {
  width: 30px;
  height: 30px;
}

.output {
  display: inline-block;
}

.hidden {
  display: none;
  visibility: hidden;
  /* border: 1px solid red; */
  height: 0;
  width: 0;
}

#progress_container_generate_genealogy {
  display: none;
  visibility: hidden;
}

.progress_container {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 0 2px black inset;
}

.progress_bar {
  width: 0%;
  height: 10px;
  background-color: black;
}


/*  */
/*  */
/*  */

td:hover > span.tooltip {
  display: block;
}

.tooltip {
  display: none;
  position: absolute;
  border: 2px dashed black;
  background-color: grey;
  color: lime;
  padding: 5px;
  max-width: 300px;
  font-size: 10pt;
  z-index: 10;
}
