html, body {
  margin: 0;
  padding: 0;
  padding: 10px;

  font-family: menlo;
}

#config-container {
  vertical-align: top;
  display: inline-block;
}

#genealogy-graph-container {
  display: inline-block;
}

#graph-container {
  display: inline-block;
  border: 1px solid black;
}

#gpe-result-container {
  display: inline-block;
  vertical-align: top;
}

#gpe-graph-container {
  display: inline-block;
  vertical-align: top;
}

h2 {
  text-align: center;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th {
  background: black;
  color: white;
}

td {
  padding: 5px;
}

input {
  font-family: menlo;
  font-size: 12pt;
}

input[type="number"] {
  width: 50px;
}

#button-generate-genealogy {
  margin: auto;
  background: black;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16pt;
  font-family: menlo;
}

.output {
  display: inline-block;
}
